<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title><%= pageName %> | Basic Auth App</title>
</head>
<body>  
    <form action="/signout" method="POST">
        <button type="submit" class="signoutBtn">SIGN OUT</button>
    </form> 
    <canvas id="confetti"></canvas>
    <button id="button" class="button-53" role="button">
        Feeling Happy? Click Me !
    </button>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>