<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageName %> | Basic Auth App</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class='authForm-wrapper'>
        <h1>Sign up with email</h1>
        <!--  Sign up with email form  -->
        <form action='/signup' method='post'>
            <input type='text' name='username' id='username' placeholder='Abramham Lincoln' required>
            <input type='email' name='email' id='email' placeholder='example@mail.com' required>
            <input type='password' name='password' id='password' placeholder='**********' required>
            
            <div class='auth-cta-btnWrapper'>
            <div class='auth-cta-btns'>
                <button>Create Account</button>
            </div>
            </div>
        </form>
        <!--   Redirect to Sign-up form   -->
        <!-- <p><a href='#'> <span>&larr;</span> All sign up options</a></p> -->
        <p>Already have an account? <a href="/signin"> Click Here</a></p>
    </div>
</body>
</html>